/* Work Sans Font */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


* {

    box-sizing: border-box;
}

.btn-primary{
    border-radius: 8px;
    background: #FF900E;
    width: 180px;
    height: 64px;
    flex-shrink: 0;
    color: #FFF;
    text-align: center;
    font-family: "Work Sans";
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    cursor: pointer;
}

header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > ul {
    display: flex;
}

nav  li {
    list-style: none;
    margin: 30px;
    font-size: 1rem;
    font-weight: 500;
}

nav  a {
    text-decoration: none;
    color: #424242;
}

.nav-title{
    font-size: 3rem;
    font-weight: 700;
    color: #131313;
}

/* banner style */

.banner-contain{
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title{
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-discription{
    color: #727272;
}

.banner img{
    width: 100%;
    margin-top: 20px;
}


/* responsive media queries style */
/* mobile divices */

@media screen and (max-width: 576px) {
    header {
        padding: 20px;
    }

    nav {
        flex-direction: column;
    }
    
}

/* tablet divices */
@media screen and (min-width: 576px) and (max-width: 960px){
    nav {
        flex-direction: column;
    }
    header {
        padding: 50px;
    }

}